* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

body {
    text-align: center;
    line-height: 1.5;
    height: 100;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 56px;
    z-index: +1;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container p {
    font-family: 'proza libre', serif;
    color: pink;
    margin-left: 1%;
}

.nav-container button {
    margin-right: 1%;
}

#navbar {
    background: black;
}

.hidden {
    visibility: hidden;
}

a {
    color: black;
    background-color:#939293;
    border: 2px solid #3854AE;
    text-decoration: none;
    margin: 2%;
    font-size: 1.2rem;
}

a:hover {
    background-color:#3854AE;
    color: #939293;
}

#navbar a {
    padding: 3px;
}

button.navbar-toggle {
    margin: 2px;
    width: 30px;
    height: 25px;
    background: url(../images/burger-icon.png);
    background-size: 100%;
    border: none;
}

button.navbar-toggle:hover {
    background: url(../images/burger-icon\ -\ grey.png);
    background-size: 100%;
}

header {
    position: relative;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

header img {
    max-width: 100%;
    max-height: 420px;
    min-width: auto;
    min-height: 100px;
    z-index: -1;
    border-bottom: 2px solid #B16558;
}

h1 {
    visibility: hidden;
    position: absolute;
    left: 10px;
    top: 1px;
    z-index: -1;
    color: pink;
}

header h2 {
    position: absolute;
    left: 20px;
    top: 1px;
    z-index: -1;
}

main {
    background: url(../images/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    font-family: 'proza libre', serif;
}

header h2 {
    color: pink;
}

.about-me h2 {
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #B16558;
    border-top: 0px solid #B16558;
    color: #B16558;
}

.portfolio h2 {
    border-left: 1px solid #B16558;
    border-right: 1px solid #B16558;
    border-bottom: 1px solid #B16558;
    border-top: 1px solid #B16558;
    color: #B16558;
}

.contact h2 {
    width: 100%;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #B16558;
    border-top: none;
    color: #B16558;
}

p {
    font-family: 'open sans', sans-serif;
    color: #939293;
}

section {
    min-height: 200px;
    margin-left: 8%;
    margin-right: 8%;
    border: 1px solid black;
    background-color: black;
    opacity: 0.9;
}

section.about-me {
    border-top: 0px solid #B16558;
    border-left: 2px solid #B16558;
    border-right: 2px solid #B16558;
    border-bottom: 1px solid #B16558;
}

section.about-me p {
    font-size: 1.3rem;
    margin: 1%;
    text-align: left;
}

section.portfolio {
    border-left: 1px solid #B16558;
    border-right: 1px solid #B16558;
    border-bottom: 1px solid #B16558;
    border-top: none;
    display: flex;
    flex-direction: column;
}

h3 {
    color: #B16558;
}

section.portfolio h2 {
    display: block;
}

.project {
    width: 100%;
    min-height: 200px;
    border-left: 1px solid #B16558;
    border-right: 1px solid #B16558;
    border-bottom: 1px solid #B16558;
    border-top: 1px solid #B16558;
}

section.portfolio p {
    margin: 1%;
}

img.quiz {
max-width: 80%;
height: 200px;
border: #B16558 2px solid;
border-radius: 1%;
}

img.bookmarks {
max-width: 80%;
height: 200px;
border: #B16558 2px solid;
border-radius: 1%;
}

.portfolio a {
    padding: 2px;
}

section.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top: none;
    border-left: 2px solid #B16558;
    border-right: 2px solid #B16558;
    border-bottom: 2px solid #B16558;
}

img.profile {
    max-width: 40%;
    height: auto;
    border: #B16558 1px solid;
    border-radius: 1%;
    margin-top: 1%;
}

.contact-link {
    border: none;
    margin: 0;
    font-size: 1.2rem;
    text-decoration: underline;
    color: #939293;
    background-color: transparent;
}

.contact-link:hover {
    color: #939293;
    background-color: #3854AE;
    text-shadow: none;
}

footer {
    background-color:black;
    color: pink;
}

@media screen and (min-width: 768px) {
    h1 {
        visibility: visible;
        position: absolute;
        left: 20px;
        top: 1px;
    }

    header h2 {
        position: absolute;
        left: 20px;
        top: 60px;
    }

    header img {
        max-width: 100%;
        max-height: 920px;
        min-width: auto;
        min-height: 300px;
        z-index: -1;
    }

    button.navbar-toggle {
        visibility: hidden;
    }

    .hidden {
        visibility: visible;
    }

    .project-container {
        display: flex;
        flex-direction: row;
    }

    .project {
        display: inline-block;
        width: 50%;
    }

    section.contact {
        flex-direction: row;
    }

    a {
        font-size: 1.3rem;
    }

    .contact h2 {
        width: 50%;
        border-left: none;
        border-right: none;
        border-bottom: none;
        border-top: none;
    }

    .contact-container {
        width: 50%;
        margin-left: -1px;
        border-left: 2px solid #B16558;
    }

}

@media screen and (min-width: 1280px) {

p {
    font-size: 1.2rem;
}

section.about-me p {
    font-size: 1.5rem;
}

a {
    font-size: 1.4rem;
}

}